
@{
    ViewBag.Title = "Wykładowca";
}

<h2>Panel główny wykładowcy</h2>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/Widgets/_ScoreReport.cshtml")
    </div>
    <div class="col-md-8">
        @Html.Partial("~/Views/Widgets/_OngoingTasks.cshtml")
    </div>
    <div class="col-md-4">
        @Html.Partial("~/Views/Widgets/_RecentPosts.cshtml")
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/Widgets/_MyCoursesTableLecturer.cshtml")
    </div>
</div>
