<div class="row">
    <div class="col-md-8">
        @Html.Partial("~/Views/Widgets/_MyCoursesTable.cshtml")
    </div>
    <div class="col-md-4">
        @Html.Partial("~/Views/Widgets/_ChatBox.cshtml")
    </div>
    <div class="col-md-12">
        @Html.Partial("~/Views/Widgets/_OngoingTasks.cshtml")
    </div>
</div>