@model UMS_Portal.Models.RegisterViewModel
@{
    ViewBag.Title = "Wybierz sposób rejestracji";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 style="padding: 1em 0">Wybierz sposób rejestracji</h1>
        <hr />
    </div>
    <div class="col-md-6 text-center">
        <h2 style="height: 100px;">Posiadam kod autoryzacyjny.</h2>
        <hr />
        <a href="@Url.Action("RegisterWithCode", "Account")" class="btn btn-primary">Wybierz</a>
    </div>
    <div class="col-md-6 text-center">
        <h2 style="height: 100px;">Posiadam adres e-mail w zaufanej domenie (ums.pl).</h2>
        <hr />
        <a href="@Url.Action("RegisterTrustedDomain", "Account")" class="btn btn-primary">Wybierz</a>
    </div>
</div>
