<div class="notika-chat-list notika-shadow tb-res-ds-n dk-res-ds">
    <div class="realtime-ctn">
        <div class="realtime-title">
            <h2>Porozmawiajmy o kursach!</h2>
        </div>
    </div>
    <div class="card-box">
        <div class="chat-conversation">
            <div class="widgets-chat-scrollbar">
                <ul class="conversation-list">
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="~/Images/logo_mini.png">
                            <i>10:00</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>Dział szkoleń</i>
                                <p>
                                    Dzień dobry. W czym mogę pomóc?
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="~/Images/krzysztof.png">
                            <i>10:01</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap chat-widgets-cn">
                                <i>Krzysztof Krzepicki</i>
                                <p>
                                    Dzień dobry, czy można zapisać się na szkolenie?
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="~/Images/logo_mini.png">
                            <i>10:01</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>Dział szkoleń</i>
                                <p>
                                    Oczywiście! Mogę zapisać Pana w tym momencie jeżeli ma Pan wybrane szkolenie
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="~/Images/krzysztof.png">
                            <i>10:02</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap chat-widgets-cn">
                                <i>Krzysztof Krzepicki</i>
                                <p>
                                    Jeszcze nie wybrałem, skontaktuję się w późniejszym terminie
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="~/Images/logo_mini.png">
                            <i>10:03</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>Dział szkoleń</i>
                                <p>
                                    Oczywiście, nie ma problemu. Pozostaję do dyspozycji ;)
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="~/Images/krzysztof.png">
                            <i>10:07</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap chat-widgets-cn">
                                <i>Krzysztof Krzepicki</i>
                                <p>
                                    Dziękuję i pozdrawiam!
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-widget-input">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12 chat-inputbar">
                        <div class="form-group todo-flex">
                            <div class="nk-int-st">
                                <input type="text" class="form-control chat-input" placeholder="Wpisz wiadomość...">
                            </div>
                            <div class="chat-send">
                                <button type="submit" class="btn btn-md btn-primary btn-block notika-chat-btn">Wyślij!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>