<div class="email-statis-inner notika-shadow">
    <div class="email-ctn-round">
        <div class="email-rdn-hd">
            <h2>Statystyki wiadomości</h2>
        </div>
        <div class="email-statis-wrap">
            <div class="email-round-nock">
                <input type="text" class="knob" value="0" data-rel="10" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true">
            </div>
            <div class="email-ctn-nock">
                <p>Uznane za spam</p>
            </div>
        </div>
        <div class="email-round-gp">
            <div class="email-round-pro">
                <div class="email-signle-gp">
                    <input type="text" class="knob" value="0" data-rel="75" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                </div>
                <div class="email-ctn-nock">
                    <p>Współczynnik odrzuceń</p>
                </div>
            </div>
            <div class="email-round-pro">
                <div class="email-signle-gp">
                    <input type="text" class="knob" value="0" data-rel="35" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                </div>
                <div class="email-ctn-nock">
                    <p>Ilość odczytanych</p>
                </div>
            </div>
            <div class="email-round-pro sm-res-ds-n lg-res-mg-bl">
                <div class="email-signle-gp">
                    <input type="text" class="knob" value="0" data-rel="45" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                </div>
                <div class="email-ctn-nock">
                    <p>Wiadomości zignorowane</p>
                </div>
            </div>
        </div>
    </div>
</div>