<div class="ongoing-task-inner notika-shadow">
    <div class="realtime-ctn">
        <div class="realtime-title ongoing-hd-wd">
            <h2>Kursy i szkolenia w trakcie</h2>
            <p>Kursy w których uczestniczysz w tym semestrze</p>
        </div>
    </div>
    <div class="skill-content-3 ongoing-tsk">
        <div class="skill">
            <div class="progress">
                <div class="lead-content">
                    <p>Inżynieria oprogramowania</p>
                </div>
                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <span>95%</span>
                </div>
            </div>
            <div class="progress">
                <div class="lead-content">
                    <p>Bezpieczeństwo sieci informatycznych</p>
                </div>
                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
            </div>
            <div class="progress">
                <div class="lead-content">
                    <p>Systemy zarządzania treścią</p>
                </div>
                <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>70%</span> </div>
            </div>
            <div class="progress">
                <div class="lead-content">
                    <p>Projekt dyplomowy - przygotowanie do prezentacji</p>
                </div>
                <div class="progress-bar wow fadeInLeft" data-progress="60%" style="width: 60%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>60%</span> </div>
            </div>
            <div class="progress progress-bt">
                <div class="lead-content">
                    <p>Wybór i wdrażanie systemów informatycznych w przedsiębiorstwach</p>
                </div>
                <div class="progress-bar wow fadeInLeft" data-progress="50%" style="width: 50%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>50%</span> </div>
            </div>
        </div>
        <div class="view-all-onging">
            <button class="btn btn-info">Zobacz wszysttkie kursy</button>
            <button class="btn btn-primary">Zapisz się na nowy kurs</button>
        </div>
    </div>
</div>