<div class="realtime-wrap notika-shadow">
    <div class="realtime-ctn">
        <div class="realtime-title">
            <h2>Odwiedzający strone w czasie rzeczywistym</h2>
        </div>
    </div>
    <div class="realtime-visitor-ctn">
        <div class="realtime-vst-sg">
            <h4><span class="counter">1,456</span></h4>
            <p>Ostatnie 24 godziny</p>
        </div>
        <div class="realtime-vst-sg">
            <h4><span class="counter">66</span></h4>
            <p>Ostatnie 30 minut</p>
        </div>
    </div>
    <div class="realtime-map">
        <div class="vectorjsmarp" id="world-map"></div>
    </div>
</div>