<div class="recent-post-wrapper notika-shadow mg-b-15 tb-res-ds-n dk-res-ds">
    <div class="recent-post-ctn">
        <div class="recent-post-title">
            <h2>Ostatnie wpisy</h2>
        </div>
    </div>
    <div class="recent-post-items">
        <div class="recent-post-signle rct-pt-mg-wp">
            <a href="#">
                <div class="recent-post-flex">
                    <div class="recent-post-img">
                        <img src="~/Images/krzysztof.png" alt="" style="max-width: 50px;"  />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Krzysztof Krzepicki</h2>
                        <p>Szkolenie z administracji systema...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="~/Images/mateuszKudelski.png" alt="" style="max-width: 50px;"  />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Mateusz Kudelski</h2>
                        <p>Zapraszam na wykład dotyczący inżynier...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="~/Images/sebastianPerz.png" alt="" style="max-width: 50px;"  />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Sebastian Perz</h2>
                        <p>W tej serii artykułów przedstawię sposób k...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="~/Images/mateuszKudelski.png" alt="" style="max-width: 50px;" />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Mateusz Kudelski</h2>
                        <p>Zapraszam na mojego bloga MateuszKud...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="~/images/krzysztof.png" alt="" style="max-width: 50px;" />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Krzysztof Krzepicki</h2>
                        <p>Wprowadzenie do programowania w ....</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rc-ps-vw">
                    <div class="recent-post-line rct-pt-mg">
                        <p>View All</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
