
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in">
        <FONT SIZE=5>
            <B>
                System
                obsługi zapisów na płatne zajęcia dodatkowe prowadzone przez
                uczelnię:
            </B>
        </FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in">
        “<FONT SIZE=5>
            <B>
                UMS”
                (U
            </B>
        </FONT><FONT SIZE=5>niversity</FONT><FONT SIZE=5><B> M</B></FONT><FONT SIZE=5>anagement</FONT><FONT SIZE=5>
            <B>
                S
            </B>
        </FONT><FONT SIZE=5>ystem</FONT><FONT SIZE=5><B>)</B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <P STYLE="margin-left: 0.25in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000"><FONT SIZE=4><B>Skład grupy projektowej:</B></FONT></FONT>
    </P>
    <P STYLE="margin-left: 0.25in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <UL>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    <FONT SIZE=4>
                        Krzysztof
                        Krzepicki
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    <FONT SIZE=4>
                        Mateusz
                        Kudelski
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    <FONT SIZE=4>
                        Sebastian
                        Perz
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P STYLE="margin-left: 0.25in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <OL>
        <LI>
            <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                <A NAME="_Toc36388472"></A>
                <FONT COLOR="#000000"><FONT SIZE=4><B>Wprowadzenie</B></FONT></FONT>
            </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; margin-bottom: 0in; line-height: 100%">
        System będzie umożliwiał zarządzanie dostępnymi
        szkoleniami/zajęciami organizowanymi przez uczelnię.
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; margin-bottom: 0in; line-height: 100%">
        Użytkownicy będą mieli możliwość zarejestrowania się w
        systemie i zapisania na płatne szkolenie, dokonując opłaty poprzez
        swój portfel elektroniczny (prepaid).
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; margin-bottom: 0in; line-height: 100%">
        Możliwe będzie wygenerowanie podstawowych statystyk i raportów
        (frekwencja na zajęciach, przychody uczelni, ilość aktywnych
        słuchaczy).
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; margin-bottom: 0in; line-height: 100%">
        Wykładowcy będą mieli możliwość rejestracji frekwencji i
        punktacji z przeprowadzanych egzaminów.
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; margin-bottom: 0in; line-height: 100%">
        System będzie dostępny jako serwis internetowy dostępny przez
        przeglądarkę.
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; margin-bottom: 0in; line-height: 100%">
        Zaimplementowana zostanie także funkcjonalność komunikatora w
        obrębie aplikacji (dedykowane skrzynki wiadomości), oraz
        powiadomienia wysyłane na zdefiniowany, lub użyty podczas
        rejestracji adres email.
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; margin-bottom: 0in; line-height: 100%">
        Słuchaczom zostanie umożliwione przechowywanie plików tworzonych
        podczas zajęć na serwerze aplikacji.
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <OL START=2>
        <LI>
            <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in; page-break-before: always">
                <A NAME="_Toc36388473"></A>
                <FONT COLOR="#000000"><FONT SIZE=4><B>Specyfikacja wymagań systemu</B></FONT></FONT>
            </P>
            <OL>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>
                                Wymagania
                                funkcjonalne
                            </B>
                        </FONT>
                    </P>
            </OL>
    </OL>
    <P STYLE="margin-left: 0.55in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>Rejestracja</B>
                        </FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.25in; text-indent: 0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System pozwala na tworzenie konta użytkownika
            za pomocą formularza online.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; text-indent: -0.1in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            Konto w zależności od konfiguracji systemu
            może być tworzone przez:
        </FONT>
    </P>
    <UL>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    samodzielną
                    rejestrację użytkownika (nie wymaga zatwierdzenia przez
                    administratora) przy pomocy specjalnego kodu lub z  użyciem adresu
                    email w zdefiniowanej domenie.
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    samodzielną
                    rejestrację użytkownika i zatwierdzanie przez administratora
                </FONT>
            </P>
    </UL>
    <P STYLE="margin-left: 1in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=2>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>Reset hasła.</B>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System umożliwia przesłanie na zarejestrowany
            adres e-mail nowego hasła wygenerowanego tymczasowo lub
            ograniczonego czasowo linku umożliwiającego zmianę hasła bez
            podawania aktualnego.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=3>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>Role.</B>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            Użytkownicy systemu posiadają przypisane
            klasy i role w zależności, od których mają oni różne prawa i
            mogą wykonywać różne zadania oraz mieć dostęp do wybranych
            poziomów zarządzania systemem. Jeden użytkownik ma możliwość
            posiadania wielu ról.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=4>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Raporty</B></FONT><FONT COLOR="#000000">
                            .
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System pozwala na generowanie statystyk w
            postaci wykresów graficznych (wykres kołowy/słupkowy). System
            pozwala na wygenerowanie statystyk przez wszystkich użytkowników
            m.in.:
        </FONT>
    </P>
    <UL>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Obecność
                    na zajęciach.
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Punktacja
                    z egzaminów.
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Obecność
                    na zajęciach
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Statystyki
                    dotyczące prowadzonych rekrutacji (ilość miejsc/opłaty).
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Statystyki
                    dotyczące prowadzonych badań ankietowych, wyników badań.
                </FONT>
            </P>
    </UL>
    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=5>
                <LI><P STYLE="margin-bottom: 0in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Monitoring.</B></FONT></P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            W systemie istnieje możliwość publikowania
            danych dotyczących systemu takich jak:
        </FONT>
    </P>
    <UL>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Liczniki
                    odwiedzin na stronach publicznych systemu.
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Liczniki
                    pobrań gotowych raportów
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Liczniki
                    ilości pobieranych danych z zasobów systemu.
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Liczniki
                    dostępów uzyskiwanych przez kanały/interfejsy API.
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">
                    Zbiorcze
                    raporty z udzielonych odpowiedzi dotyczących poziomu satysfakcji.
                </FONT>
            </P>
    </UL>
    <P STYLE="margin-left: 1.14in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            Raporty okresowe z automatycznych pomiarów
            dostępności usług.
        </FONT>
    </P>
    <P STYLE="margin-left: 1.14in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=6>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>Powiadomienia wewnętrzne.</B>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System bezpośrednio po zalogowaniu użytkownika
            informuje go o istniejących nowych pozycjach, takich jak nowe
            wiadomości, nowe testy kompetencji, nowe szkolenia, nowe oferty
            rekrutacyjne itp.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=7>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>
                                Powiadomienia
                                zewnętrzne.
                            </B>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System będzie informował użytkowników o
            nowej wiadomości wewnętrznej wysyłając powiadomienie e-mail na
            adres podany podczas rejestracji.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=8>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>Składowanie danych.</B>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System w zależności od przypisanej roli
            umożliwia składowanie plików na serwerze aplikacji, oraz ich
            udostępnianie poprzez specjalnie wygenerowany link.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=9>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>Walidacja.</B>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <A NAME="_Toc36388474"></A>
        <FONT COLOR="#000000">S</FONT><FONT COLOR="#000000">
            ystem będzie
            sprawdzał czy student nie zapisuje się jednocześnie na kilka zajęć
            (prowadzonych w tym samym czasie), jeżeli tak to zostanie
            wyświetlony komunikat o niepoprawnym działaniu użytkownika
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL START=2>
            <LI>
                <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <B>
                            Wymagania
                            niefunkcjonalne
                        </B>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.55in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"> <B>Zabezpieczenie hasła</B></FONT><FONT COLOR="#000000">
                            .
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">H</FONT><FONT COLOR="#000000">
            asło użytkownika
            musi zawierać przynajmniej 6 znaków, przynajmniej jedną wielką
            literę i przynajmniej jeden znak specjalny. Hasła zapisane w bazie
            danych są szyfrowane.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=2>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Internacjonalizacja</B></FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            Architektura systemu musi umożliwiać
            tworzenie różnych wersji językowych elementów interfejsu
            użytkownika i wprowadzanych treści.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=3>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Czas odpowiedzi</B></FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            Wyświetlenie w oknie przeglądarki dowolnej
            podstrony nie będzie zajmowało więcej niż 4 sekundy.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=4>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Obsługa wyświetlacza, RWD</B></FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System musi być dostępny na urządzenia o
            różnej rozdzielczości od minimalnej 360x640.Portal spełnia zasady
            - Responsive Web Design (RWD). Zgodnie z zasadami RWD, wygląd
            graficzny części portalowej Systemu informatycznego dostosowuje
            sposób wyświetlania po przekroczeniu pewnych punktów granicznych
            (breakpoints) w szerokości obszaru przeglądarki, w którym
            wyświetlana jest strona internetowa. System będzie umożliwiał
            pracę z tą samą funkcjonalnością na komputerach stacjonarnych i
            urządzeniach mobilnych typu np. tablety lub smartfony.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=5>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Wydajność</B></FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System musi obsłużyć jednoczesny dostęp
            2000 użytkowników przy zachowaniu minimalnego czasu odpowiedzi
            (4s).
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=6>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Raportowanie</B></FONT><FONT COLOR="#000000">
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System posiadać będzie wbudowany moduł
            raportowy – wykonany w takich samych technologiach jak całe
            rozwiązanie (ASP.NET, C#, Microsoft SQL Server).
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=7>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"> </FONT><FONT COLOR="#000000">
                            <B>
                                Środowisko
                                uruchomieniowe
                            </B>
                        </FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System informatyczny udostępniający funkcje
            e-usługi poprzez portal dostępny dla pracowników i studentów
            poprzez przeglądarkę internetową w dowolnym miejscu i czasie.
            Część portalowa Systemu informatycznego musi w całości działać
            w przeglądarkach internetowych:
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">Mozilla Firefox</FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">Google Chrome </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">Safari </FONT>
            </P>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                <FONT COLOR="#000000">Opera</FONT>
            </P>
    </UL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=8>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Spójność i dostępność</B></FONT><FONT COLOR="#000000">
                            .
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">D</FONT><FONT COLOR="#000000">
            ostęp do systemu
            informatycznego nie wymaga instalacji dodatkowego oprogramowania
            (część portalowa). Wszystkie moduły oferowanego rozwiązania
            muszą stanowić spójną całość tj. moduły muszą funkcjonować
            w ramach jednej platformy, posiadać jednolity interfejs oraz wspólny
            moduł administracyjny – umożliwiający zarządzanie całym
            rozwiązaniem z wykorzystaniem jednego panelu administracyjnego.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=9>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Technologie</B></FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            Do stworzenia rozwiązania wykorzystane zostaną
            następujące technologie aplikacyjne:
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">• ASP.NET MVC minimum wersja 4</FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 1.35in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">• HTML, CSS, JavaScript </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 1.35in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">• Język programowania: C# </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 1.35in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">• Baza danych Microsoft SQL Server</FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 1.35in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=10>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Zabezpieczenie danych (backup).</B></FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            Wykonanie kopii zapasowej danych systemu nie
            wymaga przerywania pracy użytkowników.
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL>
            <OL START=11>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000"><B>Bezpieczeństwo</B></FONT><FONT COLOR="#000000">.</FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            System zostanie odpowiednio zabezpieczony przed
            wstrzyknięciem złośliwego kodu, instalacji nieautoryzowanego
            oprogramowania na serwerach aplikacyjnych mających na celu
            uszkodzenie danych lub znaczący spadek wydajności.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <OL>
        <OL START=3>
            <LI>
                <P STYLE="margin-bottom: 0in; border: none; padding: 0in; page-break-before: always">
                    <FONT COLOR="#000000"><B>Przypadki użycia</B></FONT>
                </P>
        </OL>
    </OL>
    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000"><B>Admi</B></FONT><B>n</B>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <TABLE WIDTH=566 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=119>
        <COL WIDTH=417>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">Nazwa</FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    Zablokowanie
                    użytkownika
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">Inicjator</FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">Administrator</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">Cel</FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    Zablokowanie
                    dostępu do systemu wybranemu użytkownikowi
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Główny
                        scenariusz
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            Administrator
                            loguje się do panelu
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            Przechodzi
                            do listy wszystkich użytkowników
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            Wybiera
                            użytkownika z listy
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            Oznacza
                            jako “zablokowany”
                        </P>
                    <LI>
                        <P STYLE="border: none; padding: 0in">
                            System wysyła e-mail
                            do wybranego użytkownika z informacją o blokadzie konta w
                            systemie.
                        </P>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">Rozszerzenia</FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="border: none; padding: 0in">
                    <BR>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">Diagram</FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <BR>
                </P>
            </TD>
        </TR>
    </TABLE>
    <P STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <TABLE WIDTH=566 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=119>
        <COL WIDTH=417>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Nazwa</P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Backup danych</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Inicjator</P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Administrator</P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Cel</P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">
                    Wykonanie ręcznej kopii
                    bezpieczeństwa danych systemu
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Główny scenariusz</P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in">
                            Administrator loguje się do
                            panelu
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in">
                            Administrator przechodzi do
                            sekcji “Ręczny backup”
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in">
                            Administrator wybiera opcję
                            “Backup danych”
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in">
                            Administrator wybiera
                            miejsce zapisania kopii na serwerze
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in">
                            System wykonuje kopię
                            bezpieczeństwa w tle
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in">
                            System wyświetla
                            powiadomienie o wykonywaniu kopii w tle
                        </P>
                    <LI>
                        <P>
                            Po wykonaniu kopii system wysyła potwierdzenie na adres
                            e-mail administratora o poprawnym wykonaniu kopii
                        </P>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Rozszerzenia</P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in">
                            Błąd wykonywania kopii
                            bezpieczeństwa
                        </P>
                        <OL TYPE=a>
                            <LI>
                                <P STYLE="margin-bottom: 0.14in">
                                    System wysyła
                                    powiadomienie o błędzie na adres e-mail administratora
                                </P>
                            <LI><P>System zapisuje w pliku log.txt informacje o błędzie</P>
                        </OL>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">Diagram</P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in">
                    <BR>
                </P>
            </TD>
        </TR>
    </TABLE>
    <P STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0in; border: none; padding: 0in; page-break-before: always">
        <FONT COLOR="#000000"><B>Biuro</B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <TABLE WIDTH=566 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=119>
        <COL WIDTH=417>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Nazwa</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Potwierdzenie
                        uczestnictwa w zajęciach
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Inicjator</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Pracownik
                        biura
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Cel</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Zapisanie
                        słuchacza na zajęcia i wysłanie potwierdzenia.
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <B>
                            Główny
                            scenariusz
                        </B>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Użytkownik
                                systemu zapisuje się na zajęcia
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Pracownik
                                biura odbiera powiadomienie o wysłanym żądaniu
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Pracownik
                                biura sprawdza poprawność danych użytkownika
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Pracownik
                                biura zatwierdza uczestnictwo studenta (klienta) w zajęciach
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                System
                                wysyła powiadomienie o zaakceptowaniu wniosku na adres e-mail
                                użytkownika.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                System
                                wyświetla powiadomienia o poprawności wykonania akcji.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                System
                                zapisuje datę akceptacji wniosku, kto go zaakceptował i z
                                jakiego adresu IP.
                            </FONT>
                        </P>
                </OL>
                <P STYLE="margin-left: 0.5in; text-indent: -0.4in; border: none; padding: 0in">
                    <BR>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Rozszerzenia</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Pracownik
                                odrzuca wniosek
                            </FONT>
                        </P>
                        <OL TYPE=a>
                            <LI>
                                <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                                    <FONT COLOR="#000000">
                                        system przedstawia listę powodów
                                        odrzucenia i miejsce na wpisanie innego powodu
                                    </FONT>
                                </P>
                            <LI>
                                <P STYLE="border: none; padding: 0in">
                                    <FONT COLOR="#000000">
                                        system
                                        wysyła powiadomienie e-mail o odrzuceniu wniosku
                                    </FONT>
                                </P>
                        </OL>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Diagram</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <BR>
                </P>
            </TD>
        </TR>
    </TABLE>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in; border: none; padding: 0in; page-break-before: always">
        <FONT COLOR="#000000"><B>Wykładowca</B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <TABLE WIDTH=566 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=119>
        <COL WIDTH=417>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Nazwa</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Ocena
                        pracy studenta
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Inicjator</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">Wykładowca</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Cel</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Ocena
                        pracy nadesłanej przez studenta
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <B>
                            Główny
                            scenariusz
                        </B>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Wykładowca
                                poprzez swoje kursy przechodzi do zakładki podgląd i ocena prac
                                studentów
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Użytkownik
                                wybiera grupę którą chce ocenić
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Użytkownik
                                z listy prac nadesłanej w danej grupie wybiera konkretną, którą
                                chce ocenić
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                W
                                nowej zakładce otwiera się dostęp do plików nadesłanych
                                przez studenta z możliwością ich pobrania swój komputer.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Sprawdzenie
                                pracy
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Po
                                sprawdzeniu przejście do zakładki ocena. I dodanie punktów
                                zgodnie z przyjętym wzorem.
                            </FONT>
                        </P>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Rozszerzenia</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Dodanie
                                opcjonalnej oceny słownej (opisu) błędów w nadesłanej pracy
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Automatyczne
                                wysłanie maila do studenta o ocenie jego pracy.
                            </FONT>
                        </P>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Diagram</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <BR>
                </P>
            </TD>
        </TR>
    </TABLE>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <TABLE WIDTH=566 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=119>
        <COL WIDTH=417>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Nazwa</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Ocena
                        końcowa studentów
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Inicjator</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">Wykładowca</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Cel</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Ocena
                        końcowa studenta na podstawie ocen zebranych w czasie trwania
                        kursu
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <B>
                            Główny
                            scenariusz
                        </B>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Wykładowca
                                po sprawdzeniu wszystkich prac nadesłanych w terminie przez
                                studentów ma dostęp do zakładki ocena końcowa.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Wybiera
                                grupę, którą chce ocenić.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Wybiera
                                studenta z listy uczestników grupy.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Na
                                podstawie tabeli pomocniczej pokazującej oceny cząstkowe za
                                zadania, oraz listę obecności studenta. Wykładowca wpisuje
                                ocenę jaką uzyskał student za kurs.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Wykładowca
                                zapisuje ocenę i przechodzi do następnego studenta, lub kończy
                                ocenianie w celu dokończenia w późniejszym terminie.
                            </FONT>
                        </P>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Rozszerzenia</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Sugerowana
                                ocena studenta wyliczona przez system na podstawie średniej
                                ważonej ocen.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Automatyczne
                                wysłanie do studenta informacji o zakończonym kursie i jego
                                ocenie
                            </FONT>
                        </P>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Diagram</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <BR>
                </P>
            </TD>
        </TR>
    </TABLE>
    <P STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; border: none; padding: 0in">
        <FONT COLOR="#000000"><B>Student</B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.45in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <TABLE WIDTH=566 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=119>
        <COL WIDTH=417>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Nazwa</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Zapisanie
                        na zajęcia
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Inicjator</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Student
                        (klient)
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Cel</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        Zapisanie
                        się na zajęcia.
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <B>
                            Główny
                            scenariusz
                        </B>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL START=8>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Użytkownik
                                systemu zgłasza chęć uczestnictwa w zajęciach
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Użytkownik
                                wybiera z dostępnych wariantów zajęcia, datę, miejsce
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                System
                                prosi o potwierdzenie płatności jeżeli wymagana opłata
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Użytkownik
                                potwierdza płatność
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Jeżeli
                                stan konta na to pozwala zostaje wysłane żądanie zapisania na
                                wybrane zajęcia w innym przypadku system wyświetla komunikat o
                                braku środków.
                            </FONT>
                        </P>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                W
                                przypadku poprawnego zapisania na zajęcia system wysyła
                                potwierdzenie na adres e-mail użytkownika o poprawnym
                                zainicjowaniu procesu zapisu na zajęcia.
                            </FONT>
                        </P>
                </OL>
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in">
                    <BR>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Rozszerzenia</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <OL START=2>
                    <LI>
                        <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                Użytkownik
                                przerywa proces
                            </FONT>
                        </P>
                        <OL TYPE=a>
                            <LI>
                                <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                                    <FONT COLOR="#000000">
                                        System zapisuje aktualny stan formularza,
                                        aby można było do niego wrócić po ponownym zalogowaniu
                                    </FONT>
                                </P>
                        </OL>
                    <LI><P STYLE="border: none; padding: 0in"><FONT COLOR="#000000">…</FONT></P>
                </OL>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=119 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000"><B>Diagram</B></FONT></P>
            </TD>
            <TD WIDTH=417 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="text-indent: 0.1in; border: none; padding: 0in"><FONT COLOR="#000000">…</FONT></P>
            </TD>
        </TR>
    </TABLE>
    <P STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in; page-break-before: always">
        <FONT COLOR="#000000"><B>Wykładowca</B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_8d50f426.png" NAME="image1.png" ALIGN=BOTTOM WIDTH=547 HEIGHT=619 BORDER=0>
    </P>
    <P STYLE="margin-left: 0.3in; text-indent: -0.3in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in; page-break-before: always">
        <FONT COLOR="#000000"><B>Student</B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <A NAME="_heading=h.gjdgxs"></A>
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0.14in; border: none; padding: 0in">
        <IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_aa60553.png" NAME="image2.png" ALIGN=LEFT HSPACE=12 WIDTH=731 HEIGHT=674 BORDER=0><BR><BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <A NAME="_Toc36388475"></A><BR><BR>
    </P>
    <OL START=3>
        <LI>
            <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in; page-break-before: always">
                <FONT COLOR="#000000"><FONT SIZE=4><B>Model systemu</B></FONT></FONT>
            </P>
            <OL>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <B>
                                Diagram
                                klas (diagram bazy danych)
                            </B>
                        </FONT>
                    </P>
            </OL>
    </OL>
    <P STYLE="margin-left: -0.1in; margin-bottom: 0in; border: none; padding: 0in">
        <IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_e7504de0.png" NAME="Obraz 13" ALIGN=BOTTOM WIDTH=689 HEIGHT=976 BORDER=0>
    </P>
    <P STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL>
        <OL START=2>
            <LI>
                <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <B>
                            Diagram
                            aktywności
                        </B>
                    </FONT>
                </P>
                <OL>
                    <LI>
                        <P STYLE="margin-bottom: 0in; border: none; padding: 0in">
                            <FONT COLOR="#000000">
                                <B>
                                    Lista
                                    obecności (Aktor – użytkownik: Wykładowca)
                                </B>
                            </FONT>
                        </P>
                </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0in; border: none; padding: 0in">
        <IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_983b3669.png" NAME="Obraz 1" ALIGN=BOTTOM WIDTH=484 HEIGHT=933 BORDER=0>
    </P>
    <P STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <OL START=2>
                <LI>
                    <P STYLE="margin-bottom: 0in; border: none; padding: 0in; page-break-before: always">
                        <FONT COLOR="#000000">
                            <B>
                                Ocenianie (Aktor – użytkownik:
                                Wykładowca)
                            </B>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: -0.1in; margin-bottom: 0in; border: none; padding: 0in">
        <IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_8bccb8e3.png" NAME="Obraz 2" ALIGN=BOTTOM WIDTH=689 HEIGHT=926 BORDER=0>
    </P>
    <P STYLE="margin-left: 0.3in; text-indent: -0.3in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <A NAME="_Toc36388476"></A><BR><BR>
    </P>
    <OL START=4>
        <LI>
            <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in; page-break-before: always">
                <FONT COLOR="#000000"><FONT SIZE=4><B>Projekt graficzny </B></FONT></FONT>
            </P>
            <OL>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <FONT SIZE=4>
                                <B>
                                    Logo
                                    i kolorystyka
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                    <OL>
                        <LI><P STYLE="margin-bottom: 0.14in; border: none; padding: 0in"><FONT COLOR="#000000"><FONT SIZE=4><B>Logo</B></FONT></FONT></P>
                    </OL>
            </OL>
    </OL>
    <P STYLE="margin-left: 0.2in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            <IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_289ef010.png" NAME="Obraz 8" ALIGN=BOTTOM WIDTH=224 HEIGHT=330 BORDER=0>
        </FONT><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_d4ac7c95.png" NAME="Obraz 3" ALIGN=LEFT HSPACE=12 WIDTH=450 HEIGHT=231 BORDER=0>
    </P>
    <OL>
        <OL>
            <OL START=2>
                <LI>
                    <P STYLE="margin-bottom: 0.14in">
                        <FONT COLOR="#000000">
                            <FONT SIZE=4>
                                <B>
                                    Pełna
                                    paleta kolorów szablonu
                                </B>
                            </FONT>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.2in; margin-bottom: 0.14in"><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_e7c94018.png" NAME="Obraz 14" ALIGN=BOTTOM WIDTH=690 HEIGHT=411 BORDER=0></P>
    <OL>
        <OL>
            <OL START=3>
                <LI>
                    <P STYLE="margin-bottom: 0.14in">
                        <FONT COLOR="#000000">
                            <FONT SIZE=4>
                                <B>
                                    Przykładowa
                                    kolorystyka panelu użytkownika
                                </B>
                            </FONT>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.2in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 0.1in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_eaac77ad.png" NAME="Obraz 9" ALIGN=BOTTOM WIDTH=690 HEIGHT=325 BORDER=0></FONT>
    </P>
    <OL>
        <OL START=2>
            <LI>
                <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <FONT SIZE=4>
                            <B>
                                Strona
                                główna
                            </B>
                        </FONT>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P ALIGN=CENTER STYLE="margin-left: 0.25in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_b3ab463.png" NAME="Obraz 10" ALIGN=BOTTOM WIDTH=690 HEIGHT=518 BORDER=0></FONT>
    </P>
    <OL>
        <OL START=3>
            <LI>
                <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <FONT SIZE=4>
                            <B>
                                Strona
                                kontaktowa
                            </B>
                        </FONT>
                    </FONT>
                </P>
            <LI>
                <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <FONT SIZE=4>
                            <B>
                                Strona
                                „O projekcie”
                            </B>
                        </FONT>
                    </FONT>
                </P>
            <LI>
                <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                    <FONT COLOR="#000000">
                        <FONT SIZE=4>
                            <B>
                                Dashboard
                                (panel główny)
                            </B>
                        </FONT>
                    </FONT>
                </P>
                <OL>
                    <LI><P STYLE="margin-bottom: 0.14in; border: none; padding: 0in"><FONT COLOR="#000000"><FONT SIZE=4><B>Administrator</B></FONT></FONT></P>
                </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.2in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_f9e7fad6.jpg" NAME="Obraz 12" ALIGN=BOTTOM WIDTH=689 HEIGHT=511 BORDER=0></FONT>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <OL START=2>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in; page-break-before: always">
                        <FONT COLOR="#000000"><FONT SIZE=4><B>Uczeń</B></FONT></FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: -0.49in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_9ff71dc6.png" NAME="Obraz 16" ALIGN=BOTTOM WIDTH=815 HEIGHT=780 BORDER=0></FONT>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <OL START=3>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in; page-break-before: always">
                        <FONT COLOR="#000000"><FONT SIZE=4><B>Wykładowca</B></FONT></FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: -0.49in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_590efc48.png" NAME="Obraz 17" ALIGN=BOTTOM WIDTH=872 HEIGHT=783 BORDER=0></FONT>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <OL START=4>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in; page-break-before: always">
                        <FONT COLOR="#000000"><FONT SIZE=4><B>Pracownik administracji</B></FONT></FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P ALIGN=CENTER STYLE="margin-left: -0.39in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><IMG SRC="~/Images/docs/74f89750ff283b8f291f83c015b9c2f8_html_3ebaa3b4.png" NAME="Obraz 20" ALIGN=BOTTOM WIDTH=768 HEIGHT=995 BORDER=0></FONT>
    </P>
    <P STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <OL START=5>
        <LI>
            <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                <A NAME="_Toc36388477"></A>
                <FONT COLOR="#000000"><FONT SIZE=4><B>Implementacja systemu</B></FONT></FONT>
            </P>
            <OL>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <FONT SIZE=4>
                                <B>
                                    Adres
                                    strony: <A HREF="http://krzepicki.hostingasp.pl/Home/About">http://krzepicki.hostingasp.pl/Home/About</A>
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <FONT SIZE=4>
                                <B>
                                    Repozytorium
                                    kodu: <A HREF="https://github.com/KrzepickiK/UMS_Portal">https://github.com/KrzepickiK/UMS_Portal</A>
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <FONT SIZE=4>
                                <B>
                                    Dane
                                    do kont testowych
                                </B>
                            </FONT>
                        </FONT>
                    </P>
                    <OL>
                        <LI>
                            <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                                <FONT COLOR="#000000">
                                    <FONT SIZE=4>
                                        <B>
                                            Administrator
                                            systemu
                                        </B>
                                    </FONT>
                                </FONT>
                            </P>
                    </OL>
            </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><FONT SIZE=4><B>Login: <A HREF="mailto:admin@ums.pl">admin@ums.pl</A>	</B></FONT></FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><FONT SIZE=4><B>Hasło: Password12#</B></FONT></FONT>
    </P>
    <OL>
        <OL>
            <OL START=2>
                <LI><P STYLE="margin-bottom: 0.14in; border: none; padding: 0in"><FONT COLOR="#000000"><FONT SIZE=4><B>Wykładowca</B></FONT></FONT></P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            <FONT SIZE=4>
                <B>
                    Login: <A HREF="mailto:lecturer@ums.pl">lecturer@ums.pl</A>
                </B>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><FONT SIZE=4><B>Hasło: Password12#</B></FONT></FONT>
    </P>
    <OL>
        <OL>
            <OL START=3>
                <LI><P STYLE="margin-bottom: 0.14in; border: none; padding: 0in"><FONT COLOR="#000000"><FONT SIZE=4><B>Student</B></FONT></FONT></P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            <FONT SIZE=4>
                <B>
                    Login: <A HREF="mailto:student@ums.pl">student@ums.pl</A>
                </B>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><FONT SIZE=4><B>Hasło: Password12#</B></FONT></FONT>
    </P>
    <OL>
        <OL>
            <OL START=4>
                <LI>
                    <P STYLE="margin-bottom: 0.14in; border: none; padding: 0in">
                        <FONT COLOR="#000000">
                            <FONT SIZE=4>
                                <B>
                                    Pracownik
                                    administracji
                                </B>
                            </FONT>
                        </FONT>
                    </P>
            </OL>
        </OL>
    </OL>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000">
            <FONT SIZE=4>
                <B>
                    Login: <A HREF="mailto:office@ums.pl">office@ums.pl</A>
                </B>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <FONT COLOR="#000000"><FONT SIZE=4><B>Hasło: Password12#</B></FONT></FONT>
    </P>
    <P STYLE="margin-left: 0.85in; margin-bottom: 0.14in; border: none; padding: 0in">
        <BR><BR>
    </P>
    <P STYLE="margin-left: 0.3in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P STYLE="margin-left: 0.55in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; border: none; padding: 0in">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <BR><BR>
    </P>
