@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background: #00C292;">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" style="max-height: 150px; margin:0;padding:0;" src="~/Images/logo_menu.png" />
            </div>
            <div class="col-md-9">
                <h1 style="color: #fff;">University Management System</h1>
            </div>
            <div class="col-md-12">
                <p class="lead">System obsługi zapisów na płatne zajęcia dodatkowe prowadzone przez uczelnię</p>
            </div>
            <div class="col-md-12">
                <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Dowiedz się więcej...</a></p>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Twórcy systemu</h2>
            <hr />
        </div>
        <div class="col-md-4 text-center">
            <img class="img-responsive" src="~/Images/logo_menu.png" />
            <h2>Krzysztof Krzepicki</h2>
            <p class="text-left">
                ...
            </p>
            <p><a class="btn btn-default" href="#">Więcej &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/logo_menu.png" />
            <h2>Sebastian Perz</h2>
            <p class="text-left">
                ...
            </p>
            <p><a class="btn btn-default" href="#">Więcej &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="~/Images/logo_menu.png" />
            <h2>Mateusz Kudelski</h2>
            <p class="text-left">
                ...
            </p>
            <p><a class="btn btn-default" href="#">Więcej &raquo;</a></p>
        </div>
    </div>