@{
    ViewBag.Title = "UMS - strona główna";
}
    <style>
        img.roundedAvatar__big--hover {
            max-height: 200px;
            border-radius: 50%;
            box-shadow: -10px -10px 10px #444;
        }
            img.roundedAvatar__big--hover:hover {
                transition: .1s ease-in all;
                max-height: 210px;
                box-shadow: 0 0 10px #444;
                cursor: pointer;
            }
    </style>
    <div class="jumbotron" style="background: #00C292;">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" style="max-height: 150px; margin:0;padding:0;" src="~/Images/logo_menu.png" />
            </div>
            <div class="col-md-9">
                <h1 style="color: #fff;">University Management System</h1>
            </div>
            <div class="col-md-12">
                <p class="lead" style="text-shadow: 0 0 12px #000; color: #fff">System obsługi zapisów na płatne zajęcia dodatkowe prowadzone przez uczelnię</p>
            </div>
            <div class="col-md-12">
                <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Dowiedz się więcej...</a></p>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Twórcy systemu</h2>
            <hr />
        </div>
        <div class="col-md-4 text-center">
            <img class="roundedAvatar__big--hover" src="~/UserFiles/Avatars/krzysztofKrzepicki.png" />
            <h2>Krzysztof Krzepicki</h2>
        </div>
        <div class="col-md-4 text-center">
            <img class="roundedAvatar__big--hover" src="~/UserFiles/Avatars/sebastianPerz.png" />
            <h2>Sebastian Perz</h2>
        </div>
        <div class="col-md-4 text-center">
            <img class="roundedAvatar__big--hover" src="~/UserFiles/Avatars/mateuszKudelski.png" />
            <h2>Mateusz Kudelski</h2>
        </div>
    </div>