    <!-- Start Footer area-->
<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-copy-right">
                    <p>&copy; @DateTime.Now.Year - UMS</p>
                    <p style="padding:0;margin:0;position: absolute;">
                        Copyright © 2018
                        . All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer area-->