
@{
    ViewBag.Title = "Trwają prace...";
}

    <div class="text-center">
        <h2>Moduł w przygotowaniu</h2>
        <img src="~/Images/cogs.svg" alt="" class="img-responsive center-block" style="max-width: 640px">
    </div>
